@using ERP_EvaluationManagement.DTOs.Responses
@using System.Net.Http.Json;
@inject NavigationManager NavigationManager
@inject ISnackbar Snackbar

<MudContainer Class="result-container">
    <h3 class="result-header">Student Requests</h3>

    <MudTable Items="_studentRequests">
        <HeaderContent>
            <MudTh>Added Date</MudTh>
            <MudTh>Sender Name</MudTh>
            <MudTh>Sender Registration Number</MudTh>
            <MudTh>Header</MudTh>
            <MudTh></MudTh>
        </HeaderContent>
        <RowTemplate Context="request">
            <MudTd>@request.AddedDate.ToShortDateString()</MudTd>
            <MudTd>@request.SenderName</MudTd>
            <MudTd>@request.SenderRegistrationNum</MudTd>
            <MudTd>@request.Header</MudTd>
            <MudTd>
                <button class="btn btn-primary" @onclick="() => ViewModuleInformation(request.SenderId, request.RequestId)">
                    View Details
                </button>
            </MudTd>
        </RowTemplate>
    </MudTable>
</MudContainer>



@code {

    private HttpClient Http = new HttpClient();
    private List<GetStudentMessagesResponse> _studentRequests = new List<GetStudentMessagesResponse>();

    protected override async Task OnInitializedAsync()
    {
        await LoadModulesAsync();
    }

    private async Task LoadModulesAsync()
    {
        _studentRequests = await Http.GetFromJsonAsync<List<GetStudentMessagesResponse>>($"https://localhost:7256/StudentRequests/af8ad6c4-46f2-4bf8-9628-9cf34e122893");
    }

    private void ViewModuleInformation(Guid senderId ,Guid requestId)
    {
        NavigationManager.NavigateTo($"/RequestManagementTabs/StudentRequest/{requestId}/{senderId}");
    }
}

<link rel="stylesheet" href="styles.css" />