@using ERP_EvaluationManagement.DTOs.Responses
@using System.Net.Http.Json;
@inject NavigationManager NavigationManager

<MudContainer Class="result-container">
    <h3 class="result-header">Teacher Requests</h3>

    <div class="mt-4">
        @foreach (var request in _teacherRequests)
        {
            <div>
                <button @onclick="() => ViewModuleInformation(request.SenderId , request.RequestId)">
                    @request.Message
                </button>
            </div>
        }
    </div>

</MudContainer>

@code {

    private HttpClient Http = new HttpClient();
    private List<GetTeacherMessagesResponse> _teacherRequests = new List<GetTeacherMessagesResponse>();

    protected override async Task OnInitializedAsync()
    {
        await LoadModulesAsync();
    }

    private async Task LoadModulesAsync()
    {
        _teacherRequests = await Http.GetFromJsonAsync<List<GetTeacherMessagesResponse>>($"https://localhost:7256/TeacherRequests/af8ad6c4-46f2-4bf8-9628-9cf34e122893");
    }

    private void ViewModuleInformation(Guid senderId, Guid requestId)
    {
        NavigationManager.NavigateTo($"/RequestManagementTabs/TeacherRequest/{requestId}/{senderId}");
    }
}

<link rel="stylesheet" href="styles.css" />