@using ERP_EvaluationManagement.DTOs.Responses
@using System.Net.Http.Json;
@inject NavigationManager NavigationManager

<MudContainer Class="result-container">    
    <h1 class="result-header pb-3" style="color:purple; text-align:center">Teacher List</h1>
    <MudTable Items="_teachers" Hover="true" Bordered="true" Outlined="true">
        <HeaderContent>
            <MudTh>Full Name</MudTh>
            <MudTh>Mail</MudTh>
            <MudTh></MudTh>
        </HeaderContent>
        <RowTemplate Context="teacher">
            <MudTd>@teacher.FullName</MudTd>
            <MudTd>@teacher.Email</MudTd>
            <MudTd>
                <button class="btn btn-primary" @onclick="() => ViewModuleInformation(teacher.TeacherId)">
                    Make Request
                </button>
            </MudTd>
        </RowTemplate>
    </MudTable>
</MudContainer>


@code {

    private HttpClient Http = new HttpClient();
    private List<GetTeacherResponse> _teachers = new List<GetTeacherResponse>();

    protected override async Task OnInitializedAsync()
    {
        await LoadModulesAsync();
    }

    private async Task LoadModulesAsync()
    {
        _teachers = await Http.GetFromJsonAsync<List<GetTeacherResponse>>($"https://localhost:7256/api/TeacherRegistration");
    }

    private void ViewModuleInformation(Guid recieverId)
    {
        NavigationManager.NavigateTo($"/RequestManagementTabs/StaffRequestCreate/{recieverId}");
    }
}

<link rel="stylesheet" href="styles.css" />