@using ERP_EvaluationManagement.DTOs.Responses
@using System.Net.Http.Json
@inject NavigationManager NavigationManager

@inject ISnackbar Snackbar

@if (_studentRequest != null)
{
    <div class="pt-4">
        <h3> @_studentRequest.Message </h3>
    </div>

    <div>
        <button @onclick="() => ViewModuleInformation(_studentRequest.SenderId)">
            Reply
        </button>
    </div>

}
else
{
    <p>Module offering information not found.</p>
}



@code {
    
    [Parameter]
    public Guid RequestId { get; set; }
    [Parameter]
    public Guid SenderId { get; set; }

    private HttpClient Http = new HttpClient();

    private GetStudentMessagesResponse? _studentRequest;

    protected override async Task OnInitializedAsync()
    {
        await LoadModuleOfferingInfoAsync(RequestId);
    }

    private async Task LoadModuleOfferingInfoAsync(Guid requestId)
    {
        try
        {
            _studentRequest = await Http.GetFromJsonAsync<GetStudentMessagesResponse>($"https://localhost:7256/api/StudentRequest/{requestId}");
        }
        catch (Exception ex)
        {
            Console.WriteLine($"An error occurred while loading module offering: {ex.Message}");
        }
    }

    private void ViewModuleInformation(Guid senderId)
    {
        NavigationManager.NavigateTo($"/RequestManagementTabs/RequestCreate/{senderId}");
    }

}

